@import "../js/apps/book/css/main.css";
@import "../css/apps/keep/css/style.css";

/* MAIN NAV BAR  */
.app-header {
  width: 100%;
  background-color: bisque;
}

.main-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* MAIN LAYOUT */
.main-container {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
}

/* EMAIL-LIST */

.email-display {
  display: grid;
  grid-template-columns: 0.3fr 1.2fr 2fr 0.8fr 0.7fr;
  grid-auto-rows: 30px;
  grid-column-gap: 10px;
  font-size: 20px;
  align-items: center;
  border: 1px solid grey;
  cursor: pointer;
}

.mail-headers {
  margin-right: 10px;
}

.read {
  color: grey;
}


.sort-and-search {
  display: flex;
  justify-content: space-between;
}

/* EMAIL-PREVIEW */
.action-buttons {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.stars-container {
  padding: 10px;
}

.title {
  margin-right: 3px;
}

/* MAIL MAIN CONTAINER */
.mail-app-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mail-side-actions {
  width: 10%;
  display: grid;
  /* align-items: center;
    justify-content: center; */
  padding: 20px;
  align-items: center;
  justify-items: stretch;
  grid-row-gap: 10px;
  margin-right: 10px;
}

.mail-side-actions a {
  text-decoration: none;
  color: black;
  background-color: #faf3e0;
  border: 2px solid black;
  text-align: center;
  padding: 10px;
  font-size: large;
}

.buttons {
  width: 100%;
  table-layout: fixed;
  margin-right: 20px;
}

.buttons button {
  width: 100%;
  margin-top: 10px;
  cursor: pointer;
}

/* EMAIL COMPOSE */

.email-compose {
  display: flex;
  flex-direction: column;
}

.body-txt {
  background-color: hotpink;
  cursor: pointer;
}

.home-img {
  display: flex;
  justify-content: center;

}
