.email-display {
    display: grid;
    grid-template-columns: 0.3fr 1.2fr 2fr 0.8fr 0.7fr;
    grid-auto-rows: auto;
    grid-column-gap: 10px;
    font-size: 20px;
    align-items: center;
    border: 1px solid grey;
    cursor: pointer;
    width: 100%;
    min-width: 700px;
  }
  
  .title {
    font-weight: 500;
  }
  
  .mail-headers {
    margin-right: 10px;
  }
  
  .read {
    color: grey;
  }
  
  .sort-and-search {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 10px 0;
    font-size: 18px;
  }
  
  .search-bar {
    display: flex;
    justify-content: space-between;
  }
  
  .search-bar select {
    margin: 0 5px;
  }
  
  .sort {
    display: flex;
  }
  
  .sort select {
    margin-left: 5px;
  }
  
  .sort-and-search input,
  select {
    height: 20px;
  }
  
  @media (max-width: 400px) {
    .email-display {
      display: grid;
      grid-template-columns: 0.5fr;
      grid-auto-rows: auto;
      grid-column-gap: 10px;
      font-size: 20px;
      align-items: center;
      border: 1px solid grey;
      cursor: pointer;
      /* width: 100%; */
      max-width: 300px;
      min-width: 0px;
    }
  }