.body-txt {
    background-color: #e97878;
    cursor: pointer;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    min-height: 150px;
    box-shadow: 5px 10px #888888;
    padding: 10px;
  }
  
  .body-txt div {
    margin-bottom: 5px;
  }
  
  .text-description {
    font-weight: 800;
  }