*{
    box-sizing: border-box;
}

.note{
    width: 200px;
    height: 200px;
    margin: 5px;
}

.note-container{
    display: flex;
    flex-wrap: wrap;

}


.edit-modal{
    background-color: white;
    width: 350px;
    height: 300px;
}

.add{
    text-align: center;
}

.add-btn {
    position: fixed;
    top: 42px;
    right: 0;
}

.edit-modal {
    position: fixed;
}