*{
    box-sizing: border-box;
}

.note-container{
    display: flex;
    flex-wrap: wrap;
}

.notes-list{
    width: 200px;
    height: 200px;
    cursor: pointer;
    display: flex;
    
    list-style: none;


}
.note{
    width: 200px;
    height: 200px;
    padding: 10px;
    margin: 5px;


}

.edit-modal{
    background-color: white;
    width: 350px;
    height: 300px;
}

.add{
    text-align: center;
}

.add-btn {
    position: fixed;
    top: 42px;
    right: 0;
}

.edit-modal {
    position: fixed;
}