@import "./pages/keep-app.cmp.css";

*{
    box-sizing: border-box;
}

@font-face {
    font-family: kanit-regular;
    src: url(../../../../fonts/kanit/Kanit-Regular.ttf);
}

.keep-app{
    font-family: kanit-regular;
}

