* {
  box-sizing: content-box;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

body {
  background-color: antiquewhite;
  margin: 0;
}

/* Layout */
.main-container {
  max-width: 1080px;
  margin: 0 auto;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
}

.app-header {
  background-color: #ffefa1;
  margin-bottom: 10px;
}

.head-container {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav a {
  margin-right: 10px;
}

.logo {
  padding: 10px;
}

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
  justify-content: space-around;
  height: 70vh;
}

.about-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-gap: 30px;
  padding: 10px;
}

.book-list {
  list-style: none;
}

.book-preview-container {
  width: 120px;
  height: 200px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.book-preview {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: black;
}

.book-preview-container:hover {
  cursor: pointer;
  box-shadow: 5px 10px 8px 10px #888888;
}

.book-preview img {
  padding: 10px;
  width: 50%;
  height: 60%;
}

.book-details {
  width: 100%;
  height: 80vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.book-details img {
  height: 50%;
  width: 20%;
}

.book-details h3 {
    text-align: center;
    cursor: pointer;
    display: inline-block;
    width: 20%;
    margin: 5px 0;
}

.published {
  font-weight: bold;
}

.on-sale {
  color: crimson;
}

.close {
  width: 60px;
}
.review-form {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid black;
  box-shadow: 5px 10px 8px 10px #888888;;
  top: 0;
  right: 0;
  background-color: lightgoldenrodyellow;
}

.review-form form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.review-specs {
  font-weight: 700;
  margin-left: 5px;
  margin-right: 2px;
}

.add-review-btn {
  width: 100px;
}

/* ROUTES */
.router-link-exact-active {
  color: #e45826;
}


/* BOOK-FILTER */
.book-filter{
    display: flex;
    align-items: center;
}

/* BOOK-ADD */
.add-book-btn{
    text-decoration: none;
    padding: 5px;
    border: 0.5px solid grey;
    color: black;
    margin-left: 10px;
    color: black;
    border-radius: 25px;
}

.add-book-btn:hover{
    padding: 8px;
    cursor: pointer;
    background-color: whitesmoke
}

.books-to-add-list {
  background-color: honeydew;
  border: 3px solid lightgray;
}

.books-to-add-list button {
  margin-left: 10px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  border: 0.5px solid black;
}
.books-to-add-list li {
  padding: 5px;
}
